In [30]:
#Task 1 Of Elivator Lab

In [56]:
# Importing pandas
import pandas as pd

# Load the dataset
df = pd.read_csv('Mall_Customers.csv')

In [57]:
#1 Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [51]:
#2 Check for duplicate records
print("\nDuplicate Rows:", df.duplicated().sum())

# Remove duplicates
df = df.drop_duplicates()

Duplicate Rows: 0

In [52]:
#3 Standardize column names: lowercase, replace spaces with underscores
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

# Show updated column names
print("Updated Column Names:")
print(df.columns.tolist())

Updated Column Names:
['customerid', 'gender', 'age', 'annual_income_(k$)', 'spending_score_(1-100)', 'age_group']

In [53]:
#4 Clean column names
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

# Now clean gender values
if 'gender' in df.columns:
    df['gender'] = df['gender'].str.lower().str.strip()
    print("Standardized values in 'gender' column:")
    print(df['gender'].unique())
else:
    print("The column 'gender' was not found.")

Standardized values in 'gender' column:
['male' 'female']

In [42]:
#5 Drop column if it exists (like 'unnamed:_0')
df.drop(columns=['unnamed:_0'], inplace=True, errors='ignore')

# Show remaining columns
print("Remaining columns after dropping:")
print(df.columns.tolist())

Remaining columns after dropping:
['customerid', 'gender', 'age', 'annual_income_(k$)', 'spending_score_(1-100)', 'age_group']

In [43]:
#6 Create Age Group
df['age_group'] = pd.cut(df['age'], bins=[0, 18, 35, 50, 100],
                         labels=['Teen', 'Young Adult', 'Adult', 'Senior'])
print("Sample with Age Group:")
print(df[['age', 'age_group']].head())

Sample with Age Group:
   age    age_group
0   19  Young Adult
1   21  Young Adult
2   20  Young Adult
3   23  Young Adult
4   31  Young Adult

In [44]:
#7 Check datatype before conversion
print("Data type before fixing 'customerid':", df['customerid'].dtype)

# Convert 'customerid' to integer
df['customerid'] = df['customerid'].astype(int)

# Confirm datatype after conversion
print("Data type after fixing 'customerid':", df['customerid'].dtype)

Data type before fixing 'customerid': int32
Data type after fixing 'customerid': int32

In [45]:
#8 Final summary
print("\nCleaned Data Info:")
print(df.info())

print("\nCleaned Data Sample:")
print(df.head())

Cleaned Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customerid              200 non-null    int32
 1   gender                  200 non-null    object
 2   age                     200 non-null    int64
 3   annual_income_(k$)      200 non-null    int64
 4   spending_score_(1-100)  200 non-null    int64
 5   age_group               200 non-null    category
dtypes: category(1), int32(1), int64(3), object(1)
memory usage: 6.6+ KB
None

Cleaned Data Sample:
   customerid  gender  age  annual_income_(k$)  spending_score_(1-100)  \
0           1    male   19                  15                      39
1           2    male   21                  15                      81
2           3  female   20                  16                       6
3           4  female   23                  16                      77
4           5  female   31                  17                      40

     age_group
0  Young Adult
1  Young Adult
2  Young Adult
3  Young Adult
4  Young Adult

In [54]:
#9 Save cleaned dataset
df.to_csv('Mall_Customers_Cleaned.csv', index=False)

# Confirm successful save
print("Cleaned dataset saved as 'Mall_Customers_Cleaned.csv'")

Cleaned dataset saved as 'Mall_Customers_Cleaned.csv'

In [49]:
#10 Show the first 5 rows of the cleaned DataFrame
print("Final Cleaned Data Preview:")
print(df.head())

Final Cleaned Data Preview:
   customerid  gender  age  annual_income_(k$)  spending_score_(1-100)  \
0           1    male   19                  15                      39
1           2    male   21                  15                      81
2           3  female   20                  16                       6
3           4  female   23                  16                      77
4           5  female   31                  17                      40

     age_group
0  Young Adult
1  Young Adult
2  Young Adult
3  Young Adult
4  Young Adult